Overstapdossier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Wijzigingen sinds 20131128: 
	 20140530 veld 'iban' toegevoegd en typering van veld 'tijd' gewijzigd van integer naar decimal
     20140519 validatie van nog 5 velden met codelijst (akkoord, lgfindicatierec, rvcindicatie, examenuitslag en beoordelingexamenvak) verplaatst van XSD naar XSLT
     20140519 verplichting van 2 velden m.b.t. lgf (lgfcvinummer en lgfbrincode) verwijderd zodat deze velden optioneel zijn conform afspraak
     20140509 enumeratie en restricties van velden met codelijst verwijderd; validatie van codelijsten nu in XSLT
     20140221 van element voadviesduoType is de typering veranderd van integer naar string 
-->
<xs:schema xmlns="http://www.edustandaard.nl/oso_gegevensset/1.1/dossier" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.edustandaard.nl/oso_gegevensset/1.1/dossier" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="dossiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dossier" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="terugkoppeling" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dossier" type="dossierType"/>
  <xs:complexType name="dossierType">
    <xs:sequence>
      <xs:element ref="metadata"/>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 29 in XSLT -->
      <xs:element name="overdrachtsoort" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 29 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="inzage" minOccurs="0"/>
      <xs:element ref="huidigeschool"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eldversie" type="nonEmptyStringType"/>
        <!-- 20140509 restriction verwijderd; validatie van codelijst 33 in XSLT -->
        <!-- 20131128 aantal waarden verwijderd -->
        <xs:element name="deeldossier" type="nonEmptyStringType">
          <xs:annotation>
            <xs:documentation>Toegestane waarden in codelijst 33 in bestand OSO codelijsten.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pakketnaam" type="nonEmptyStringType"/>
        <xs:element name="pakketversie" type="nonEmptyStringType"/>
        <xs:element name="datum" type="xs:date"/>
        <xs:element name="xsdversie" type="nonEmptyStringType"/>
        <!-- 20140509 restriction verwijderd; validatie van codelijst 16 in XSLT -->
        <!-- 20131128 overstap optioneel geworden voor profiel 'Overdracht binnen Brin' -->
        <xs:element name="overstap" type="nonEmptyStringType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Toegestane waarden in codelijst 16 in bestand OSO codelijsten.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- 20140509 min en max in restriction verwijderd; validatie van codelijst 14 in XSLT -->
  <xs:simpleType name="geslachtType" final="restriction">
    <xs:restriction base="xs:integer">
      <xs:annotation>
        <xs:documentation>Toegestane waarden in codelijst 14 in bestand OSO codelijsten.</xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="brincodeType">
    <xs:annotation>
      <xs:documentation> 99XX</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9][A-Z][A-Z]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vestigingscodeType">
    <xs:annotation>
      <xs:documentation>99</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="persoonType">
    <xs:sequence>
      <xs:element name="voornaam" type="nonEmptyStringType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="voorletters-1" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="voorvoegsel" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="achternaam" type="nonEmptyStringType"/>
      <xs:element name="roepnaam" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="geboortedatum" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>format: EEJJ-MM-DD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geslacht" type="geslachtType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>0 onbekend, 1 vrouw, 2 man</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- 20111103 nationaliteit verwijderd -->
      <!--<xs:element name="nationaliteit" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>gba code nationaliteit met attribute voor omschrijving</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="omschrijving" type="nonEmptyStringType" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>-->
      <xs:element name="adresgeheim" type="xs:boolean" minOccurs="0"/>
      <xs:element name="adreslijst" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="adres" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="communicatielijst" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="communicatie" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="persoonGroep">
    <xs:choice>
      <xs:element ref="verzorger"/>
      <xs:element ref="arts"/>
    </xs:choice>
  </xs:group>
  <xs:element name="leerling">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="leerlingType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="leerlingType">
    <xs:complexContent>
      <xs:extension base="persoonType">
        <xs:sequence>
          <xs:element name="gba" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="gbavoornaam" type="nonEmptyStringType" maxOccurs="unbounded"/>
                <xs:element name="gbavoorvoegsel" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="gbaachternaam" type="nonEmptyStringType"/>
                <xs:element name="gbageboortedatum">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="\d{2}-\d{2}-\d{4}"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="adresbuitenland" minOccurs="0" maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="35"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <!-- 20131128 veld geboorteplaats voor leerling toegevoegd -->
          <xs:element name="geboorteplaats" type="nonEmptyStringType" minOccurs="0"/>
          <!-- 20131128 veld nationaliteit voor leerling toegevoegd -->
          <xs:element name="nationaliteit" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>gba code nationaliteit met attribute voor omschrijving</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="omschrijving" type="nonEmptyStringType" use="optional"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="onderwijsnummer" type="nonEmptyStringType"/>
            <xs:element name="bsn" type="nonEmptyStringType"/>
          </xs:choice>
          <xs:element name="leerlingid" type="nonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>pakket leerlingnummer</xs:documentation>
            </xs:annotation>
          </xs:element>
          <!-- 20111103 in nederland sinds verwijderd -->
          <!-- <xs:element name="innederlandsinds" type="xs:date" minOccurs="0"/> -->
          <xs:element name="onderwijssinds" type="xs:date" minOccurs="0"/>
          <xs:element name="startdatumhuidigonderwijs" type="xs:date" minOccurs="0"/>
          <!-- 20111103 datuminschrijving is optioneel geworden, omdat het in de datadictionary alleen voor LAS verplicht is -->
          <xs:element name="datuminschrijving" type="xs:date" minOccurs="0"/>
          <xs:element name="datumuitschrijving" type="xs:date" minOccurs="0"/>
          <xs:element name="teruggeplaatstnaarbrin" type="brincodeType" minOccurs="0"/>
          <!-- 20140509 restriction verwijderd; validatie van codelijst 15 in XSLT -->
          <xs:element name="leerlinggewicht" type="nonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Toegestane waarden in codelijst 15 in bestand OSO codelijsten.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <!-- 20140509 restriction verwijderd; validatie van codelijst 10 in XSLT -->
          <xs:element name="nnca" type="nonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Toegestane waarden in codelijst 10 in bestand OSO codelijsten.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tehuis" type="xs:boolean" minOccurs="0"/>
          <xs:element name="verzorgersaansprakelijk" type="xs:boolean" minOccurs="0"/>
          <xs:element name="aansprakelijkeinstelling" type="instellingType" minOccurs="0"/>
          <!-- 20131128 gegevensblok overstapadvies is optioneel geworden, omdat alle deelelementen optioneel zijn -->
          <xs:element name="overstapadvies" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <!-- 20111103 het type van het veld 'overstap' in 'overstapadvies' is gewijzigd in een code -->
                <xs:element name="advies" type="voadviesduoType" minOccurs="0"/>
                <xs:element name="wensouders" type="voadviesduoType" minOccurs="0"/>
                <!-- 20131128 veld wensleerling toegevoegd -->
                <xs:element name="wensleerling" type="voadviesduoType" minOccurs="0"/>
                <!-- 20140509 veld herzienadvies toegevoegd -->
                <xs:element name="herzienadvies" type="voadviesduoType" minOccurs="0"/>
                <!-- 20140509 restriction verwijderd; validatie van codelijst 21 in XSLT -->
                <xs:element name="profiel" type="nonEmptyStringType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Toegestane waarden in codelijst 21 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="argumentatie" type="nonEmptyStringType" minOccurs="0"/>
                <!-- 20131128 veld contactnodig optioneel geworden voor profiel 'Overdracht binnen Brin' -->
                <xs:element name="contactnodig" type="xs:boolean" minOccurs="0"/>
                <xs:element name="contactpersoon" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="contacttelefoon" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="contactemail" type="nonEmptyStringType" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="vanpeuterspeelzaal" type="xs:boolean" minOccurs="0"/>
          <xs:element name="naampeuterspeelzaal" type="nonEmptyStringType" minOccurs="0"/>
          <xs:element name="voorschools" minOccurs="0">
            <xs:annotation>
              <xs:documentation>vve-peuters</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <!-- 20140509 restriction verwijderd; validatie van codelijst 7 in XSLT -->
                <xs:element name="codevoorschoolsehistorie" type="xs:integer" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Toegestane integer waarden in codelijst 7 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <!-- 20140509 restriction verwijderd; validatie van codelijst 9 in XSLT -->
                <xs:element name="codevoorschoolsprogramma" type="xs:integer">
                  <xs:annotation>
                    <xs:documentation>Toegestane integer waarden in codelijst 9 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="voorschoolsemaanden">
                  <xs:annotation>
                    <xs:documentation>1-24</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:integer">
                      <xs:minInclusive value="1"/>
                      <xs:maxInclusive value="24"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <!-- 20140509 restriction verwijderd; validatie van codelijst 6 in XSLT -->
                <xs:element name="codevoorschoolsetoeleider" type="xs:integer" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Toegestane integer waarden in codelijst 6 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <!-- 20140509 restriction verwijderd; validatie van codelijst 8 in XSLT -->
                <xs:element name="codevoorschoolsedeelname" type="xs:integer" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Toegestane integer waarden in codelijst 8 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="voorschoolseaanwezigheid" type="xs:integer" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>in dagdelen per week</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="vroegschools" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>vve-kleuters</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <!-- 20140509 restriction verwijderd; validatie van codelijst 9 in XSLT -->
                <xs:element name="codevroegschoolsprogramma" type="xs:integer">
                  <xs:annotation>
                    <xs:documentation>Toegestane integer waarden in codelijst 9 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="vroegschoolsdatumingang" type="xs:date"/>
                <xs:element name="vroegschoolseinddatum" type="xs:date" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="schoolloopbaanlijst" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="schoolloopbaan" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="zorg" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Dit is een interne groepering van aspecten die betrekking hebben op zorg.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="naamib" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="sbobeschikkingsdatum" type="xs:date" minOccurs="0"/>
                <xs:element name="wsnsnummer" type="xs:integer" minOccurs="0"/>
                <xs:element name="lgf" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="lgfdatum" type="xs:date"/>
                      <!-- 20140509 restriction verwijderd; validatie van codelijst 3 in XSLT -->
                      <xs:element name="codelgfonderwijssoort" type="xs:integer">
                        <xs:annotation>
                          <xs:documentation>Toegestane waarden in codelijst 3 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <!-- 20140519 verplichting verwijderd; veld is optioneel -->
                      <xs:element name="lgfcvinummer" type="nonEmptyStringType" minOccurs="0"/>
                      <!-- 20140519 restriction verwijderd; validatie van codelijst 38 in XSLT -->
                      <xs:element name="lgfindicatierec" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Toegestane waarden (1,2,3,4) in codelijst 38 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="lgfeinddatum" type="xs:date" minOccurs="0"/>
                      <!-- 20140519 verplichting verwijderd; veld is optioneel -->
                      <xs:element name="lgfbrincode" type="brincodeType" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <!-- 20131128 gehele blok tlv (toelaatbaarheidsverklaring) toegevoegd -->
                <xs:element name="tlv" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="tlvingangdatum" type="xs:date"/>
                      <xs:element name="tlvswvnummer" type="nonEmptyStringType"/>
                      <!-- 20140509 restriction verwijderd; validatie van codelijst 31 in XSLT -->
                      <xs:element name="tlvcategorie" type="nonEmptyStringType">
                        <xs:annotation>
                          <xs:documentation>Toegestane integer waarden in codelijst 31 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="tlvbeschikkingsnummer" type="nonEmptyStringType"/>
                      <xs:element name="tlveinddatum" type="xs:date"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="pgbdatum" type="xs:date" minOccurs="0"/>
                <xs:element name="pgbomvang" type="xs:integer" minOccurs="0"/>
                <xs:element name="rvc" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="centraleproblematiek" type="nonEmptyStringType" minOccurs="0"/>
                      <xs:element name="maatregelen" type="nonEmptyStringType" minOccurs="0"/>
                      <xs:element name="signaleringlwoopro">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="deelgenomenaanonderzoek" type="xs:boolean"/>
                            <xs:element name="leerachterstand" type="xs:boolean"/>
                            <xs:element name="lagescoreeindtoets" type="xs:boolean"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <!-- 20111103 rvcdatum en rvcindicatie zijn niet langer verplicht in de rvc -->
                      <xs:element name="rvcdatum" type="xs:date" minOccurs="0"/>
                      <!-- 20140519 restriction verwijderd; validatie van codelijst 17 in XSLT -->
                      <xs:element name="rvcindicatie" type="nonEmptyStringType" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Toegestane waarden (LWOO,PRO) in codelijst 17 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element ref="document" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <!-- 20131128 gehele blok upw (uitstroomprofiel wec) toegevoegd -->
                <xs:element name="upw" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="upwingangdatum" type="xs:date"/>
                      <!-- 20140509 restriction verwijderd; validatie van codelijst 32 in XSLT -->
                      <xs:element name="upwuitstroomprofiel" type="nonEmptyStringType">
                        <xs:annotation>
                          <xs:documentation>Toegestane integer waarden in codelijst 32 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="upwvoelementcode" type="nonEmptyStringType" minOccurs="0"/>
                      <!-- 20140509 restriction verwijderd; validatie van codelijst 34 in XSLT -->
                      <xs:element name="upwleerjaar" type="nonEmptyStringType" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Toegestane waarden in codelijst 34 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="diagnose" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <!-- validatie van codelijst 23 in XSLT toegevoegd -->
                      <!-- 20111103 het identificerende veld 'naam' is vervangen door het veld 'code' in de diagnose. Naam is wel gebleven, maar dient nu ter aanvulling. Daarnaast is er geen vaste lijst meer, maar komen de diagnoses uit de codelijst -->
                      <xs:element name="code" type="nonEmptyStringType"/>
                      <xs:element name="naam" type="nonEmptyStringType" minOccurs="0"/>
                      <xs:element name="datum" type="xs:date" minOccurs="0"/>
                      <xs:element name="doorwie" type="nonEmptyStringType" minOccurs="0"/>
                      <xs:element name="instantie" type="nonEmptyStringType" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="onderwijsbelemmering" type="nonEmptyStringType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="sterkpunt" type="nonEmptyStringType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="extrahulpingroep78" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <!-- 20140509 restriction verwijderd; validatie van codelijst 12 in XSLT -->
                      <!-- 20131128 VIJFTIEN waarden toegevoegd -->
                      <xs:element name="domein" type="nonEmptyStringType">
                        <xs:annotation>
                          <xs:documentation>Toegestane waarden in codelijst 12 in bestand OSO codelijsten.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <!-- 20131128 veld toelichtinghulp toegevoegd -->
                      <xs:element name="toelichtinghulp" type="nonEmptyStringType" minOccurs="0"/>
                      <xs:element name="voortzetten" type="xs:boolean"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="specialebegeleiding" type="xs:boolean" minOccurs="0"/>
                <xs:element name="begeleiding" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="soortbegeleiding" type="nonEmptyStringType"/>
                      <xs:element name="begeleidingvoortzetten" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="ambulantstartdatum" type="xs:date" minOccurs="0"/>
                <xs:element name="ambulantbrincode" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="brincodeType"/>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="ambulantvestigingscode" type="vestigingscodeType" minOccurs="0"/>
                <xs:element name="begeleidingsplanrec" type="xs:boolean" minOccurs="0"/>
                <xs:element name="vir" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="ingevoerdinvir" type="xs:boolean"/>
                      <xs:element name="reden" type="nonEmptyStringType" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="zat" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="besprokeninzat" type="xs:boolean"/>
                      <xs:element name="reden" type="nonEmptyStringType" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="artslijst" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="arts" maxOccurs="unbounded"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="contactoverigeinstanties" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="instelling" maxOccurs="unbounded"/>
                      <!-- 20111103 contactpersoon toegevoegd -->
                      <xs:element name="contactpersoon" type="persoonType" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sefunctioneren" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="document" maxOccurs="unbounded"/>
                <xs:element name="toelichtingsef" type="nonEmptyStringType" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="verzuim" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Dit is een interne groepering van aspecten die betrekking hebben op verzuim</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="dagdelengeoorloofd" type="xs:integer" minOccurs="0"/>
                <xs:element name="dagdelenongeoorloofd" type="xs:integer" minOccurs="0"/>
                <xs:element name="urengeoorloofd" type="xs:integer" minOccurs="0"/>
                <xs:element name="urenongeoorloofd" type="xs:integer" minOccurs="0"/>
                <xs:element name="meerdan25percent" type="xs:boolean" minOccurs="0"/>
                <xs:element name="frequentie" type="xs:integer" minOccurs="0"/>
                <xs:element name="contactleerplicht" type="xs:boolean" minOccurs="0"/>
                <xs:element name="rmcmelding" type="xs:boolean" minOccurs="0"/>
                <xs:element name="documentLijst" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="document" maxOccurs="unbounded"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="toetslijst" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="toets" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="handelingsplanlijst" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="handelingsplan" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="cijferlijstlijst" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="cijferlijst" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="overigdocumentlijst" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="document" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="verzorger" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="bevorderd" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="elementcode" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="leerjaar" type="jaargroepType" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="examenresultaat" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="soortdiploma" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="examenjaar" type="xs:int" minOccurs="0"/>
                <xs:element name="datumuitslag" type="xs:date" minOccurs="0"/>
                <!-- 20140519 restriction verwijderd; validatie van codelijst 35 in XSLT -->
                <xs:element name="examenuitslag" type="nonEmptyStringType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Toegestane waarden (geslaagd, afgewezen, etc) in codelijst 35 in bestand OSO codelijsten.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="resultaatvakkenvo" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="vakcode" type="nonEmptyStringType">
                  <xs:annotation>
                    <xs:documentation>vakcode conform elementcodelijst Staatscourant</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="vakleergebied" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="afgerond" type="xs:boolean"/>
                <xs:element name="datumafgerond" type="xs:date" minOccurs="0"/>
                <xs:element name="examenvak" type="xs:boolean"/>
                <xs:choice>
                  <!-- 20140519 restriction verwijderd; validatie van codelijst 36 in XSLT -->
                  <xs:element name="beoordelingexamenvak" type="nonEmptyStringType">
                    <xs:annotation>
                      <xs:documentation>Toegestane waarden (voldoende en onvoldoende) in codelijst 36 in bestand OSO codelijsten.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="exameneindcijfer" type="xs:int"/>
                  <xs:element name="cijferce" type="xs:decimal"/>
                  <xs:element name="eindcijferse" type="xs:decimal"/>
                  <xs:element name="cijferse" type="xs:decimal" maxOccurs="unbounded"/>
                  <xs:element name="rapportcijfer" type="xs:decimal"/>
                  <xs:element name="werkstuk">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="werkstuktitel" type="nonEmptyStringType"/>
                        <xs:element name="werkstukbeoordeling" type="nonEmptyStringType"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="certificaat" type="nonEmptyStringType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="competenties" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="competentiereferentie" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="competentiecategorie" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="competentiebeschrijving" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="competentiestatus" type="nonEmptyStringType" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="stage" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="begindatum" type="xs:date" minOccurs="0"/>
                <xs:element name="einddatum" type="xs:date" minOccurs="0"/>
                <xs:element name="soortstage" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="functierol" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element ref="instelling" minOccurs="0"/>
                <xs:element name="beoordeling" type="nonEmptyStringType" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="overigvombo" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="keuzevervolgopleiding" type="nonEmptyStringType" minOccurs="0"/>
                <xs:element name="beroepskeuzetest" type="xs:boolean"/>
                <xs:element name="portfolio" type="xs:boolean"/>
                <xs:element name="pop" type="xs:boolean"/>
                <xs:element name="motivatiebrief" type="xs:boolean"/>
                <xs:element name="lobdossier" type="xs:boolean"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="verzorger" type="verzorgerType"/>
  <xs:complexType name="verzorgerType">
    <xs:complexContent>
      <xs:extension base="persoonType">
        <xs:sequence>
          <xs:element name="relatietotkind" type="nonEmptyStringType" minOccurs="0"/>
          <!-- 2010/2011 spelling van 'wettigevertegenwoordiger' aangepast -->
          <xs:element name="wettigevertegenwoordiger" type="xs:boolean"/>
          <xs:element name="banknummer" type="nonEmptyStringType" minOccurs="0"/>
          <!-- 20140530 veld 'iban' toegevoegd -->
          <xs:element name="iban" type="nonEmptyStringType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="arts" type="artsType"/>
  <xs:complexType name="artsType">
    <xs:complexContent>
      <xs:extension base="persoonType">
        <xs:sequence>
          <xs:element name="soort" type="nonEmptyStringType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="adres" type="adresType"/>
  <xs:complexType name="adresType">
    <xs:sequence>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 19 in XSLT -->
      <xs:element name="soortadres" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 19 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="straat">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nummer" type="nonEmptyStringType"/>
      <xs:element name="toevoeging" type="nonEmptyStringType" minOccurs="0"/>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 18 in XSLT -->
      <xs:element name="aanduiding" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 18 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatieomschrijving" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="postcode" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>geen vast format</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="plaats" type="nonEmptyStringType"/>
      <xs:element name="gemeente" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="land" minOccurs="0">
        <xs:annotation>
          <xs:documentation>lgba code land met attribute voor omschrijving</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="nonEmptyStringType">
              <xs:attribute name="omschrijving" type="nonEmptyStringType" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="communicatie" type="communicatieType"/>
  <xs:complexType name="communicatieType">
    <xs:sequence>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 4 in XSLT -->
      <xs:element name="soort" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 4 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 5 in XSLT -->
      <xs:element name="aanduiding" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 5 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nummer" type="nonEmptyStringType"/>
      <xs:element name="geheim" type="xs:boolean" minOccurs="0"/>
      <xs:element name="noodnummer" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="instelling" type="instellingType"/>
  <xs:complexType name="instellingType">
    <xs:sequence>
      <xs:element name="naam" type="nonEmptyStringType"/>
      <xs:element name="adreslijst" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="adres" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="communicatielijst" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="communicatie" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="school" type="schoolType"/>
  <xs:complexType name="schoolType">
    <xs:complexContent>
      <xs:extension base="instellingType">
        <xs:sequence>
          <xs:element name="brincode" type="brincodeType"/>
          <xs:element name="vestigingscode" type="vestigingscodeType"/>
          <xs:element name="aanleverpunt" type="nonEmptyStringType"/>
          <xs:element name="soort" type="nonEmptyStringType" minOccurs="0"/>
          <xs:element name="type" type="nonEmptyStringType" minOccurs="0"/>
          <xs:element name="naamdirecteur" type="nonEmptyStringType" minOccurs="0"/>
          <xs:element name="website" type="nonEmptyStringType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="huidigeschool" type="huidigeschoolType"/>
  <xs:complexType name="huidigeschoolType">
    <xs:complexContent>
      <xs:extension base="schoolType">
        <xs:sequence>
          <xs:element ref="leerling"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="schoolloopbaan" type="schoolloopbaanType"/>
  <xs:complexType name="schoolloopbaanType">
    <xs:sequence>
      <xs:element name="schooljaar">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="schooljaarType"/>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="groepscode" type="nonEmptyStringType"/>
      <xs:element name="groepsnaam" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="jaargroep" type="jaargroepType"/>
      <xs:element name="begindatum" type="xs:date" minOccurs="0"/>
      <xs:element name="einddatum" type="xs:date" minOccurs="0"/>
      <xs:element name="brincode" type="brincodeType"/>
      <xs:element name="vestigingscode" type="vestigingscodeType"/>
      <xs:element name="schoolsoort" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="schooltype" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="voelementcode" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="voelementomschrijving" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="schoolsoortomschrijving" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="handelingsplan" type="handelingsplanType"/>
  <xs:complexType name="handelingsplanType">
    <xs:sequence>
      <xs:element name="startdatum" type="xs:date"/>
      <xs:element name="einddatum" type="xs:date" minOccurs="0"/>
      <xs:element name="isgerichtop" type="nonEmptyStringType"/>
      <xs:element ref="document" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referentiescoreType">
    <xs:sequence>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 11 in XSLT -->
      <xs:element name="codereferentiescore" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 11 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- 20140509 restriction verwijderd; validatie van codelijst 22 in XSLT -->
      <xs:element name="codevergelijkingsgroep" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 22 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="waarde" type="nonEmptyStringType"/>
      <xs:element name="kwalificatie" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="referentiescore" type="referentiescoreType"/>
  <xs:element name="toets" type="toetsType"/>
  <xs:complexType name="toetsType">
    <xs:sequence>
      <xs:element name="toetsidentificatie">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eldtoetscode" type="nonEmptyStringType">
              <xs:annotation>
                <xs:documentation>eld toetscodelijst</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="leergebied" type="nonEmptyStringType" minOccurs="0"/>
            <xs:element name="toetsnaam" type="nonEmptyStringType" minOccurs="0"/>
            <xs:element name="toetsversie" type="nonEmptyStringType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="afname">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="afnamedatum" type="xs:date"/>
            <xs:element name="jaargroep" type="jaargroepType" minOccurs="0"/>
            <xs:element name="dl" type="xs:integer" minOccurs="0"/>
            <xs:element name="afgenomendoor" type="afgenomendoorType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="resultaat"/>
      <xs:element ref="toetsonderdeel" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="opmerking" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="afgenomendoorType">
    <xs:sequence>
      <!-- 2010/2011 gewijzigd van 'afgenomendoor' naar 'naammedewerker' -->
      <xs:element name="naammedewerker" type="nonEmptyStringType"/>
      <xs:element name="functie" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="werktbijinstelling" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="instelling"/>
            <xs:element ref="school"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cijferlijst">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cijferlijstType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="cijferlijstType">
    <xs:sequence>
      <xs:element name="cijferlijstTypelijst" type="cijferlijstTypelijstType"/>
      <xs:element name="afnamedatum" type="xs:date" minOccurs="0"/>
      <xs:element name="jaargroep" type="jaargroepType"/>
      <xs:element name="periode" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="document" type="documentType"/>
  <xs:complexType name="documentType">
    <xs:sequence>
      <xs:element name="bestandsnaam" type="nonEmptyStringType"/>
      <xs:element name="omschrijving" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="bestandsinhoud" type="nonEmptyStringType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="toetsscore" type="toetsscoreType"/>
  <xs:simpleType name="nonEmptyStringType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="schooljaarType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- 20140509 enumeration in restriction verwijderd; validatie van codelijst 13 in XSLT -->
  <!-- 20131128 VIJFTIEN waarden toegevoegd -->
  <xs:simpleType name="jaargroepType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Toegestane waarden in codelijst 13 in bestand OSO codelijsten.</xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="toetsscoreType">
    <xs:sequence>
      <xs:element name="aantalgoed" type="xs:int" minOccurs="0"/>
      <xs:element name="aantalfout" type="xs:int" minOccurs="0"/>
      <xs:element name="aantalgelezen" type="xs:int" minOccurs="0"/>
      <!-- 20140530 typering van veld 'tijd' gewijzigd van integer naar decimal -->
      <xs:element name="tijd" type="xs:decimal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>in seconden</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vaardigheidsscore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="codevaardigheidsschaal" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="betrouwbaarheidsinterval" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bivlaag" type="xs:decimal"/>
            <xs:element name="bivhoog" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="terugkoppeling">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="metadata"/>
        <xs:element name="voschool">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="school"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="leerlingmatching">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="leerlingid" type="nonEmptyStringType"/>
              <xs:element name="voornaam" type="nonEmptyStringType" maxOccurs="unbounded"/>
              <xs:element name="tussenvoegsel" type="nonEmptyStringType" minOccurs="0"/>
              <xs:element name="achternaam" type="nonEmptyStringType"/>
              <xs:element name="geslacht" type="geslachtType"/>
              <xs:element name="geboortedatum" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="terugkoppelinformatie" type="terugkoppelinformatieType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="terugkoppelinformatieType">
    <xs:sequence>
      <xs:element name="tiperschooljaar" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="schooljaar" type="schooljaarType"/>
            <xs:element name="begindatum" type="xs:date"/>
            <xs:element name="einddatum" type="xs:date"/>
            <xs:element name="groepsnaam" type="nonEmptyStringType" minOccurs="0"/>
            <xs:element name="jaargroep" type="jaargroepType"/>
            <xs:element name="iltcode" type="nonEmptyStringType"/>
            <xs:element name="iltomschrijving" type="nonEmptyStringType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="vertrek" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="vertrekdatum" type="xs:date"/>
            <xs:element name="vertrekreden" type="nonEmptyStringType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resultaat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="toetsscore" minOccurs="0"/>
        <xs:element ref="referentiescore" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="document" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toetsonderdeel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eldonderdeelcode" type="nonEmptyStringType">
          <xs:annotation>
            <xs:documentation>eld onderdeelcode lijst</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="onderdeelnaam" type="nonEmptyStringType" minOccurs="0"/>
        <xs:element ref="resultaat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="scoreType">
    <xs:sequence>
      <xs:element name="waarde" type="nonEmptyStringType" minOccurs="0"/>
      <xs:element name="kwalificatie" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onderdeelType">
    <xs:sequence>
      <xs:element name="naam" type="nonEmptyStringType"/>
      <xs:element name="score" type="scoreType"/>
      <!-- 20111103  toegevoegd o.b.v. datadefinitie -->
      <xs:element name="afnamedatum" type="xs:date" minOccurs="0"/>
      <xs:element name="jaargroep" type="jaargroepType" minOccurs="0"/>
      <xs:element name="periode" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cijferlijstTypelijstType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="naam" type="nonEmptyStringType"/>
      <xs:element name="onderdeel" type="onderdeelType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="score" type="scoreType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- 20140509 pattern in restriction verwijderd; validatie van codelijst 2 in XSLT -->
  <!-- 20140221 typering veranderd van integer naar string -->
  <!-- 20131128 waardebereik iets verruimd om code 80 kwijt te kunnen -->
  <!-- 20111103 iets verruimd om code 50 kwijt te kunnen -->
  <xs:simpleType name="voadviesduoType" final="restriction">
    <xs:annotation>
      <xs:documentation>Toegestane waarden in codelijst 2 in bestand OSO codelijsten.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <!--<xs:pattern value="01|10|2[0-9]|3[0-7]|4[0-5]|5[0-3]|6[0-1]|70|80"/>-->
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="inzageType">
    <xs:sequence>
      <xs:element name="voorlopigdossier" type="xs:boolean"/>
      <!-- 20131128 veld inzage optioneel geworden voor profiel 'Overdracht binnen Brin' -->
      <xs:element name="inzage" type="xs:boolean" minOccurs="0"/>
      <xs:element name="inzagedatum" type="xs:date" minOccurs="0"/>
      <!-- 20140519 restriction verwijderd; validatie van codelijst 37 in XSLT -->
      <xs:element name="akkoord" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Toegestane waarden in codelijst 37 in bestand OSO codelijsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="redennietakkoord" type="nonEmptyStringType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inzage" type="inzageType"/>
  <xs:element name="huidigeSchool" type="huidigeschoolType"/>
</xs:schema>
